.news-home {
    min-height: 700px;
    background: white;
    display: flex;
    flex-flow: row wrap;
}

.article {
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.article-img {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 160px;
}

img {
    height: 100%;
}